/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Open+Sans&display=swap');
@font-face {
    font-family: praxis_LT_Regular;
    src: url(/fonts/Praxis_LT_Regular.ttf);
    font-weight: bold;
  }

body{
    background-color: rgb(250, 250, 250);
    margin: 0;
    font-family: praxis_LT_Regular;
}

/* Contenido Principal */
.div-padre{
    display: flex;
    flex-direction: column;
}
.div-vacio{
    width: 50%;
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
}
.contenido-principal{
    height: 100%;
    margin: 20% 0 25% 10%
}
    .logo, .h2-principal, .h1-principal, .parrafo-principal, .div-social-media, .div-secundario{
        margin: 15px 20px 0 0px;
    }
        .h2-principal{
            font-size: 40px;
            font-weight: 700;
        }
        .h1-principal{
            font-size: 80px;
            color: #004476;
            font-weight: 1200;
        }
        .parrafo-principal{
            font-size: 18px;
        }
        .titulo-secundario{
            font-size: 40px;
            color: #004476;
            width: 100%;
        }
        .h3-caracteristicas{
            font-size: 20;
            font-weight: 700;
        }
        .div-social-media{
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 13px;
        }
        .div-social-media a{
            padding: 15px;
            text-decoration:none;
            color:#004476;
            
        }       
        .parrafo-principal{
            font-size: 32px;
        }

        .parrafo-secundario{
            font-size: 30px;
            width: 100%;
        }
        
        

/* Contenedor secundario  */
.div-secundario{
    width: 70%;
    margin-left: 7%;
    margin-bottom: 10%;
    align-content: center;
}
    .caracteristicas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 15px 15px 0 30px;
        margin: 15px;
        height: 100%;
        width: 110%;
        box-sizing: border-box;
        
    }

    .parrafo-caracteristicas{
        font-size: 20px;
        width: 95%;
    }
    .h3-caracteristicas{
        font-size: 32px;
    }
    .parrafo-caracteristicas{
        font-size: 20px;
    }
    .div-secundario img{
        width: 65px;
    }
    .div-caracteristicas{
        width: 100%;

    }
.imagen-ni単o{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px   
}

/* Formulario */

.div-formulario{
    padding-top: 2%;
    position: fixed;
    background-image: linear-gradient(to right, #003860,#00528D);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    right: 0%;
    top: 0%;
    align-content: center;
}
    .formulario-interno{
        display: flex;
        flex-direction: column;
        height:auto;
        width: 100%;
        margin-left: 50px;
    }
    .formulario-checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;     
        width: wrap;  
    }
    .titulo-formulario{
        text-align: center;
        padding: 50px 50px 15px 50px;
        height: auto; 
        margin-bottom: 5%;
    }
    .formulario-input-correo{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 68px;
        
    }
    .formulario-input{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 50%;
    
    }
    .formulario-input-select{
        display: flex;
        flex-direction: column;
        width: 50%;
    
    }
        
    .form-1, .form-2, .form-3{
        display: flex;
        flex-direction: row;
        margin-right: 15%;
        width: auto;
        
    }
    .input-formulario{
        border-radius: 20px;
        border-color: transparent;
        width: 100%;
        height: 35px;
        background-color: #407296;
        color: white;
        font-size: 17px;
        text-indent: 15px;

    }
    .input-formulario-select{
        border-radius: 20px;
        border-color: transparent;
        width: 103%;
        height: 41px;
        background-color: #407296;
        color: white;
        font-size: 20px;
        text-indent: 15px;

    }
    .input-formulario-correo{
        border-radius: 20px;
        border-color: transparent;
        width: 82%;
        background-color: #407296;
        height: 35px;
        font-size: 15px;
        color: white;
        text-indent: 13px;
    }
    .div-checkbox{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 20px 0px 0px 50px;
        height: auto;
        font-size: 16px;
    }
    .parrafo-formulario{
        margin-left: 10px;
        font-size: 20px;
    }
    .parrafo-checkbox{
        margin-left: 10px;
        font-size: 16;
    }
    .formulario-checkbox a{
        text-decoration:none;
        color: white;   
    }
    
    .input-formulario::placeholder{
        color: white;
        opacity: 50%;
        font-size: 20px;
        
    }
    .input-formulario-correo::placeholder{
        color: white;
        opacity: 50%;
        font-size: 20px;
    
        
    }

       
    .div-boton{
        display: flex;
        margin-top: 3%;
    }
    .boton-enviar{
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 20px;
        width: 50%;
        height: 150%;
        margin-left: 3%;
        color: white;
        background-color: #EF8A15;
        border-color: transparent;
        font-size: 18px;
    }
    .boton-enviar:hover{
        opacity: 80%;
        background-color: #EF8A15;
        cursor: pointer;
    }

    .checkbox-label{
        display: flex;
        flex-direction: row;
    }
    .estrella{
        position: absolute;
        bottom: 0%;
        right: 0%;

    }

/* Footer */

.fa-facebook-f{
    font-size: 25px;
}
.div-footer{
    position: relative;
    height: 20%;
}

.div-informacion-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #003860,#00528D);
    height: 200px;
}

    .div-contacto-footer{
        color: white;
        display: flex;
        flex-direction: row;
    }
    .derechos-de-autor{
        height: 50px;
        border-top: 1px;
        color: white;
        background-image: linear-gradient(to right, #003860,#00528D);
        display: flex;
        padding-left: 45%;
        padding-top: 15px;
    }

    .footer-contacto{
        height: 20%;
        font-size: 18px;
        box-sizing: border-box;
    }
    .titulo-contacto{
        padding-top: 35px;
        color:#EF8A15;
        height: 20px;
        margin: 0;

    }
    .parrafo-contacto{
        width: 60%;
        height: 50%;
    }
    .div-footer-social-media a{
        padding: 14px;
        text-decoration:none;
        color: white; 
        font-size: 11px;
    }

    .imagen-peque単a{
        padding-bottom: 9%;
    }
    .imagen-grande{
        padding-right: 30px;
    }

    hr {
        width: 60%;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(204, 204, 204, 0.22);
        margin: 1em 0;
        position: absolute;
        left: 22%
    }
    .div-informacion-footer img{
        opacity: 50%;
    }

    .parrafo-contacto{
        font-size: 16px;
    }
    .titulo-contacto{
        font-size: 20px;
    }

 /* MOBILE DESIGN */

 @media all and (max-width: 450px){
    /* Contenido principal */

    .div-vacio{
        width: 100%;
        position: relative;
    }
    
    .contenedor-principal{
        width: 100%;
    }
    .contenido-principal{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 15px;
        margin: 35px 0 30px 0;

    }
    .logo{
        width: 100%;
    }
    .logo, .h2-principal, .h1-principal, .parrafo-principal, .div-social-media, .div-secundario{
        margin: 15px 20px 0 0px;
    }
    .h1-principal{
        font-size: 40px;
    }
    .h2-principal{
        font-size: 24px;
    }
    .parrafo-principal{
        margin: 20px;
    }
    .div-social-media{
        margin: 50px 0 50px 0px;
    }
    .imagen-ni単o{
        width: 100%;
        margin-bottom: 20px;
    }
    .parrafo-principal{
        font-size: 24px;
    }

    /* Formulario */

    .formulario-input{
        width: 50%;
        margin: 0
    }

    .parrafo-formulario{
        margin: 0;
        width: 50%;
        font-size: 15px;

    }
    .input-formulario{
        width: 90%;
    }
    .input-formulario-select{
        width: 93%;
        font-size: 20px;
    }
    .div-formulario{
        position: relative;
        width: 100%;
        height: 1100px;
    }
    .titulo-formulario{
        font-size: 26px;

    }
    .input-formulario::placeholder{
        font-size: 12px;
    }
    .input-formulario-correo::placeholder{
        font-size: 11px;
        padding-left: 5px;
    }
    .input-formulario{
        font-size: 14px;
    }
    .input-formulario-correo{
        width: 67%;
    }

    .formulario-input-correo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        padding-left: 5px;
        
    }
    .formulario-input-correo p{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        
    }
    .formulario-interno{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 35px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .form-1, .form-2, .form-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .div-checkbox{
        width: 90%;
        margin: 0%;
    }
    .formulario-checkbox{
        width: 100%;
        padding: 0%;
        padding-left: 30px;
    }
    .parrafo-formulario{
        width: 90%;
        padding-top: 20px;
    }
    .formulario-input{
        width: 80%;
        margin: 0px;
    }
    .form-3{
        margin: 10px 15px 0px 0px
    }
    .form-2{
        margin: 10px 15px 0px 0px
    }
    .form-1{
        margin: 10px 15px 0px 0px
    }

    .div-boton{
        align-items: center;
        margin-left: 7%;
    }
    .boton-enviar{
        width: 100%;
    }
    .parrafo-formulario{
        padding: 5px;
        margin: 5px;
        box-sizing: border-box;
    }

  /* div secundario caracteristicas */

    .div-secundario{
        height: 100%;
        width: 90%;
        padding: 14px;
        margin-bottom: 50px;
    }

    .caracteristicas{
        width: 100%;
        height: 30%;
        padding: 10px 0px 0px 15px;
        margin: 0 0 10px 0;
    }
    .parrafo-secundario{
        width: 100%;
        margin-left: 10px;
        font-size: 20px;
    }
    .titulo-secundario{
        width: 100%;
        margin-left: 10px;
        font-size: 24px;
    }
    .h3-caracteristicas{
        margin: 15px 0px 5px 0px;
        font-size: 20px;
    }
    .parrafo-caracteristicas{
        margin: 15px 10px 10px 0px;
        font-size: 16px;
    }

    .formulario-input-correo{
        width: 100%;
        box-sizing: border-box;
    }

    

    /* Footer */

    .div-footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 600px;
    }
    .footer-img{
        padding-left: 80px;
        padding-top: 15px;
       
    }

    .imagen-peque単a{
        padding-bottom: 0;
    }
    .div-informacion-footer{
        display: flex;
        flex-direction: column;
        height: 900px;
        width: 100%;
    }
    .div-contacto-footer{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .derechos-de-autor{
        padding: 0;
        width: 100%;
    }
    .parrafo-derechos-de-autor{
        padding-left: 30px;
    }

    .footer-img{
        padding-left: 20%;
    }

    .div-contacto-footer{
        height: 50%;
        width: 80%;
        padding-left: 20%;
        justify-content: space-around;
        
    }
    .footer-contacto{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 25px 0 60px 0;
        justify-content: space-between;
        align-content: center;
    }
    .parrafo-contacto{
        height: 30%;
        width: 100%;
        justify-content: space-evenly;
    }
    .titulo-contacto{
        width: 50%;
        padding: 0;
    }
    hr {
        width: 70%;
        left: 15%;
        top: 145%;
    }
    .estrella{
        position: absolute;
        top: 90%;
        left: 40%;
        width: 60%;
        

    }
    
 }
 